* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
    color: white;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    display: flex;
}

.alturaHeader {
    height: 100px;
}

#size {
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#portfolio {
    font-family: 'Courier New', Courier, monospace;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;

}

#posicao1 {
    display:flex;
  position: fixed;
    width: 100%;
    left: 0px;
}

#alinhar {
    top: 30px;
    left: 900px;
}

#alinhar2 {
    left: 150px;
    top: 10px;
}

.vermelho {
    background: red;
}

.azul {
    background: blue;
}

.posicaobloco {
    position: relative;

}

.bloco1 {
    width: 13px;
    height: 13px;
    background: red;
}

.bloco2 {
    width: 11px;
    height: 11px;
}

.bloco3 {
    width: 16px;
    height: 16px;
}

@-webkit-keyframes pulsate {
    0% {
        font-size: 250%;
    }

    50% {

        font-size: 260%;
    }


    100% {

        font-size: 250%;
    }
}